* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #283C43;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;
  padding: 57px 0;
  width: 100%;
}
.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21vw;
}
.navigation__button {
  width: 45px;
  height: 45px;
  border: 1px solid #4E6067;
  border-radius: 4px;
  font-size: 30px;
  background: transparent;
  color: #ffffff;
  display: none;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.navigation__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.navigation__list-item:hover {
  color: #0099CC;
  transition: all 0.3s ease-in-out;
}
.navigation__list-item--tryit {
  padding: 10px 30px;
  border: 1px solid #F2F2F2;
  border-radius: 5px 6px 6px 6px;
  margin-left: 101px;
}
.navigation__list-item--tryit:hover {
  background: #0099CC;
  color: #ffffff;
}
.navigation__rectangle {
  width: 85.4166666667vw;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  border-radius: 0px 0px 5px 5px;
}

@media (max-width: 1240px) {
  .navigation__container--footer {
    flex-direction: column;
    gap: 40px;
  }
  .navigation__button {
    display: block;
  }
  .navigation__list {
    display: none;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 70px 0;
    position: absolute;
    z-index: 1;
    top: 165px;
    left: 0;
    gap: 60px;
  }
  .navigation__list--footer {
    width: 80%;
    display: flex;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    background: none;
  }
  .navigation__list-item {
    color: #283C43;
  }
  .navigation__list-item--footer {
    color: #ffffff;
  }
  .navigation__list-item--tryit {
    margin: 0;
    border: none;
    background: #0099CC;
    color: #ffffff;
  }
  .navigation__list-item-footer {
    background: none;
    border: 1px solid #F2F2F2;
    border-radius: 5px 6px 6px 6px;
  }
}
@media (max-width: 350px) {
  .navigation__logo-image {
    width: 50vw;
  }
}
.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome__title {
  padding-bottom: 800px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.welcome__title--nopadding {
  padding: 0;
  width: 80%;
}
.welcome__title-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #ffffff;
}
.welcome__title-text-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
.welcome__title-text-big {
  width: 663px;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}
.welcome__title-text-button {
  width: 197px;
  text-align: center;
  padding: 11px 51px;
  background: #0099CC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
}
.welcome__title-text-button:hover {
  background: #F5F9FB;
  color: #283C43;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.welcome__title-text-button:active {
  background: #0099CC;
  color: #ffffff;
}
.welcome__program {
  display: flex;
  position: absolute;
  z-index: 1;
  gap: 139px;
}
.welcome__program--gap {
  gap: 1362px;
}
.welcome__program-image {
  filter: drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.11));
  border-radius: 5px;
}
.welcome__program-square {
  width: 70px;
  height: 70px;
  background: #0099CC;
  border-radius: 6px;
  position: relative;
  top: 280px;
}
.welcome__program-square--top {
  top: 80px;
}
.welcome__program-square-minustop {
  top: -80px !important;
}
.welcome__program-square--big {
  width: 138px;
  height: 138px;
  top: 70px;
}
.welcome__image {
  width: 100%;
  height: 400px;
  position: absolute;
  box-shadow: 0px 300px 0 0px #ffffff;
}
.welcome__image--boxshadow {
  position: static;
  height: auto;
  box-shadow: 0px 10px 0 0px #ffffff;
}
.welcome__whatWeDo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 52px;
  width: 100%;
  padding-top: 160px;
  color: #283C43;
  background: #ffffff;
}
.welcome__whatWeDo-big-text {
  width: 857px;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}
.welcome__whatWeDo-small-text {
  width: 857px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

@media (max-width: 1650px) {
  .welcome__program {
    display: none;
  }
}
@media (max-width: 1460px) {
  .welcome__title {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 0 20px 0;
  }
  .welcome__title--nopadding {
    align-items: flex-start;
  }
  .welcome__title-image {
    width: 50vw;
  }
  .welcome__title-text {
    padding: 10px;
  }
  .welcome__title-text-big {
    width: 100%;
    font-size: 30px;
    line-height: 41px;
  }
  .welcome__title-text-big--size {
    font-size: 60px;
  }
  .welcome__title-text-button {
    padding: 11px 20px;
  }
  .welcome__program {
    display: none;
  }
  .welcome__image {
    box-shadow: none;
    position: relative;
  }
  .welcome__whatWeDo {
    position: relative;
  }
  .welcome__whatWeDo-big-text {
    width: 100%;
    font-size: 8vw;
    line-height: 7vw;
  }
  .welcome__whatWeDo-small-text {
    width: 100%;
    font-size: 5vw;
    line-height: 6vw;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.features {
  width: 100%;
}
.features__image {
  width: 100%;
  position: relative;
  top: 6px;
}
.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #F5F9FB;
}
.features__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #283C43;
  text-align: center;
}
.features__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #F5F9FB;
  width: 100%;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.features__navigation-rectangle {
  width: 85.4166666667vw;
  height: 1px;
  background: #C2D1D7;
}
.features__navigation-list {
  display: flex;
  gap: 3.59375vw;
  list-style: none;
}
.features__navigation-list-item {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #283C43;
  text-decoration: none;
}
.features__navigation-list-item.active {
  color: #0099CC;
  text-decoration: underline;
  text-underline-offset: -62px;
  text-decoration-thickness: 3px;
}
.features__navigation-list-item:hover {
  color: #0099CC;
  text-decoration: underline;
  text-underline-offset: -62px;
  text-decoration-thickness: 3px;
}
.features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.features__feature-contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
.features__feature-contents--reverse {
  margin-top: 100px;
  align-items: flex-end;
}
.features__feature--white {
  background: #ffffff;
}
.features__feature-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #283C43;
}
.features__feature-container {
  display: flex;
  gap: 158px;
}
.features__feature-container--reverse {
  flex-direction: row-reverse;
}
.features__feature-container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.features__feature-container-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.features__feature-container-image {
  filter: drop-shadow(0px 64px 64px rgba(189, 205, 214, 0.28));
}

@media (max-width: 1180px) {
  .features__feature-contents {
    margin: 0;
  }
  .features__feature-contents--reverse {
    margin: 0;
    align-items: flex-start;
  }
  .features__feature-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }
}
@media (max-width: 910px) {
  .features__navigation {
    display: none;
  }
}
@media (max-width: 830px) {
  .features__feature-container-image {
    width: 95vw;
  }
}
@media (max-width: 460px) {
  .features__title {
    font-size: 7vw;
    line-height: 41px;
  }
  .features__feature-title {
    text-align: center;
  }
  .features__feature-contents {
    align-items: center;
  }
  .features__feature-contents--reverse {
    align-items: center;
  }
}
.benefits {
  width: 100%;
}
.benefits__image {
  width: 100%;
  position: relative;
  top: 6px;
}
.benefits__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: #283C43;
  padding: 100px;
}
.benefits__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  color: #ffffff;
}
.benefits__slider .swiper {
  width: 100%;
  height: 400px;
}
.benefits__slider .swiper-slide-wrapper .swiper-wrapper {
  width: 100%;
}
.benefits__slider .swiper-slide-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.benefits__slider .swiper-slide-item {
  border: 1px solid #374F57;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 84px;
  padding: 49px 130px 37px 40px;
  transition: all 0.3s ease-in-out !important;
}
.benefits__slider .swiper-slide-item:hover {
  cursor: pointer;
  background: #31464E;
  transform: scale(1.1) !important;
}
.benefits__slider .swiper-slide-item-image {
  width: 35px;
  height: 35px;
}
.benefits__slider .swiper-slide-item-text {
  width: 220px;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: #ffffff;
}
.benefits__buttons .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 22px;
}

@media (max-width: 440px) {
  .benefits__title {
    font-size: 10vw;
    line-height: 41px;
  }
  .benefits__slider-slide-item {
    width: 30vw;
  }
  .benefits__slider-slide-item-text {
    width: 100%;
  }
}
.clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: #ffffff;
}
.clients__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  color: #283C43;
}
.clients__client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.clients__client-item {
  width: 520px;
  height: 556px;
  background: #F5F9FB;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}
.clients__client-item:hover {
  transform: scale(1.1);
}
.clients__client-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #283C43;
}
.clients__client-item-text {
  width: 340px;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #283C43;
}
.clients__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #0099CC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 11px 52px;
}
.clients__button:hover {
  background: #283C43;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.clients__rectangle {
  width: 85.4166666667vw;
  height: 0px;
  border: 1px solid #E9EEF0;
}

@media (max-width: 620px) {
  .clients__title {
    font-size: 10vw;
    line-height: 12vw;
  }
  .clients__client-item {
    padding: 40px 0;
    width: 90vw;
  }
  .clients__client-item-text {
    width: 50vw;
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 176px;
}
.about-us__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  color: #283C43;
}
.about-us__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 166px;
}
.about-us__flex-text {
  width: 608px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.about-us__flex-text-big {
  width: 496px;
  font-weight: 900;
  font-size: 33.7558px;
  line-height: 108%;
  color: #283C43;
}
.about-us__flex-text-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #283C43;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us__flex-text-small--bold {
  font-weight: 700;
}
.about-us__flex-image {
  background: #F5F9FB;
  border-radius: 8px;
  padding: 57px 129px;
}
.about-us__flex-image--nobackground {
  background: none;
  padding: 0;
  border-radius: 0;
}

@media (max-width: 1500px) {
  .about-us {
    justify-content: center;
    align-items: center;
  }
  .about-us__flex {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us__flex-image {
    width: 300px;
  }
  .about-us__flex-text {
    width: 70vw;
    gap: 20px;
  }
  .about-us__flex-text-big {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .about-us__title {
    font-size: 10vw;
  }
  .about-us__flex-image {
    width: 40vw;
    padding: 80px;
  }
}
.references {
  width: 100%;
}
.references__image {
  width: 100%;
  position: relative;
  top: 6px;
}
.references__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 100px;
  background: #F5F9FB;
}
.references__title {
  color: #283C43;
  text-align: center;
}
.references__title-big {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}
.references__title-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.references__slider-slide {
  display: none;
}
.references__slider-slide-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.references__slider-slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 84px;
  padding: 67px 62px;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
}
.references__slider-slide-item:hover {
  transform: scale(1.05);
}
.references__slider-slide-item-image {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.references__slider-slide-item-image-one {
  width: 158.01px;
  height: 56.44px;
}
.references__slider-slide-item-image-one--size {
  height: 120px;
}
.references__slider-slide-item-image-two {
  width: 73.53px;
  height: 60px;
  position: relative;
  top: -90px;
}
.references__slider-slide-item-text {
  width: 677px;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #283C43;
}
.references__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.references__buttons-item {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #BABABA;
}
.references__buttons-item:hover {
  width: 12px;
  height: 12px;
  background: #0099CC;
  cursor: pointer;
}

@media (max-width: 810px) {
  .references__slider-slide-item {
    width: 60vw;
  }
  .references__slider-slide-item-text {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .references__title-big {
    font-size: 10vw;
  }
  .references__title-small {
    font-size: 7vw;
    line-height: 30px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
  padding: 80px 0;
}
.contact__title {
  color: #283C43;
  text-align: center;
}
.contact__title-big {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}
.contact__title-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.contact__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1250px;
  gap: 50px;
  flex-wrap: wrap;
}
.contact__form-item {
  width: 560px;
  background: #ffffff;
  border: none;
  color: #283C43;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  padding: 20px;
  border-bottom: 1.5px solid #E6E8E9;
}
.contact__form-item:hover {
  border-bottom: 2px solid #0099CC;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact__form-item::-moz-placeholder {
  color: #283C43;
}
.contact__form-item:-ms-input-placeholder {
  color: #283C43;
}
.contact__form-item::placeholder {
  color: #283C43;
}
.contact__form-item--textarea {
  width: 1220px;
  height: 186.34px;
  color: #283C43;
  resize: none;
}
.contact__form-item-select {
  width: 600px;
  padding: 20px;
  background: #ffffff;
  border: none;
  border-bottom: 1.5px solid #E6E8E9;
  color: #283C43;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/arrow.png) 97% center no-repeat !important;
}
.contact__form-item-select:hover {
  border-bottom: 2px solid #0099CC;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact__form-item-select--option {
  color: #283C43;
  height: 400px;
}
.contact__form-item-politics {
  width: 674px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #909495;
}
.contact__form-item-politics--link {
  color: #0099CC;
}
.contact__form-item-politics--link:hover {
  color: #283C43;
  transition: all 0.3s ease-in-out;
}
.contact__form-item--submit {
  width: auto;
  height: 40px;
  padding: 11px 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background: #0099CC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  margin-left: 327px;
}
.contact__form-item--submit:hover {
  background: #283C43;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1270px) {
  .contact__form {
    width: 100%;
    flex-direction: column;
  }
  .contact__form-item {
    width: 80vw;
  }
  .contact__form-item--textarea {
    width: 80vw;
  }
  .contact__form-item-select {
    width: 80vw;
  }
  .contact__form-item--submit {
    width: 200px;
    text-align: center;
    margin: 0;
  }
  .contact__form-item-politics {
    width: 90vw;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .contact__title-big {
    font-size: 10vw;
    line-height: 10vw;
  }
  .contact__title-small {
    font-size: 7vw;
    line-height: 7vw;
  }
}
.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 88px;
}
.news__pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__pages-page {
  display: none;
}
.news__pages-page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.news__pages-page-item {
  width: 520px;
  height: 633px;
  display: flex;
  flex-direction: column;
  background: #F5F9FB;
  border-radius: 8px;
}
.news__pages-page-item-text {
  width: 436px;
  padding: 32px 42px 64px 42px;
  display: flex;
  flex-direction: column;
}
.news__pages-page-item-text-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #283C43;
  margin-bottom: 16px;
}
.news__pages-page-item-text-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #283C43;
  margin-bottom: 24px;
}
.news__pages-page-item-text-more {
  display: flex;
  justify-content: space-between;
}
.news__pages-page-item-text-more-date {
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  color: #283C43;
  opacity: 0.5;
}
.news__pages-page-item-text-more-link {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  text-underline-position: under;
  color: #0099CC;
}
.news__pages-page-item-text-more-link:hover {
  color: #283C43;
  transition: all 0.3s ease-in-out;
}
.news__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.news__buttons-item {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #283C43;
  text-decoration: underline;
  text-underline-position: under;
  opacity: 0.5;
}
.news__buttons-item:hover {
  color: #0099CC;
  cursor: pointer;
}
.news__buttons-item--blue {
  color: #0099CC;
  opacity: 1;
}
.news__buttons-item--blue:hover {
  color: #283C43;
  cursor: pointer;
}

@media (max-width: 540px) {
  .news__pages-page-item {
    width: 90vw;
    margin-bottom: 22px;
  }
  .news__pages-page-item-text {
    background: #F5F9FB;
    width: 65vw;
  }
}
.footer {
  width: 100%;
  background: #1A292E;
  padding: 60px 0px;
}
.footer__data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49.4791666667vw;
}
.footer__data-copyrithing {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.4;
}
.footer__data-socials {
  display: flex;
  gap: 6px;
}
.footer__data-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 50px;
  height: 50px;
  background: #304248;
  font-size: 30px;
  border-radius: 50%;
  text-decoration: none;
}
.footer__data-socials-item--instagram {
  border-radius: 12px;
}
.footer__data-socials-item:hover {
  background: #0099CC;
  transition: all 0.3 ease-in-out;
}

@media (max-width: 650px) {
  .footer__data {
    flex-direction: column-reverse;
    gap: 33px;
  }
  .footer__data-copyrithing {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */